agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.2
agate-sql==0.5.3
Babel==2.6.0
csvkit==1.0.3
cycler==0.10.0
dbfread==2.0.7
et-xmlfile==1.0.1
future==0.17.1
isodate==0.6.0
jdcal==1.4
kiwisolver==1.0.1
leather==0.3.3
matplotlib==3.0.2
numpy==1.14.4
openpyxl==2.5.11
pandas==0.23.1
parsedatetime==2.4
pyarrow==0.9.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-slugify==1.2.6
pytimeparse==1.1.8
pytz==2018.7
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
SQLAlchemy==1.2.14
Unidecode==1.0.23
xlrd==1.1.0
